@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pri-color: #EBB42C;
  --sec-color: #efefef;
  --pri-color-light: #F2E6B5;
  --sec-color-light: #F8F8F8;
  --pri-color-dark: #C7A82A;
  --sec-color-dark: #D7D7D7;
  --pri-color-darkest: #A68F2A;
  --sec-color-darkest: #C7C7C7;
}

.nunito-sans {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
body {
  @apply font-sans;
}
.pcolor {
  color: var(--pri-color);
}
.scolor {
  color: var(--sec-color);
}
a, button { outline: none;}

.login-info {
  display: flex;
  justify-content: right;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  font-size: 12px;
  z-index: 1000;
}
.login-info a {
  margin-right: 1rem;
  margin-left: 1em;
  color: var(--pri-color);
  text-decoration: none;
}
.login-info a:hover {
  text-decoration: underline;
}

.navbar-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 990;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  /*background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);*/
   background-image: linear-gradient(90deg, #3F5EFB 0%, #FC466B 100%)
}

.sub-page-hero {
  position: relative;
  width: 100%;
  height: 120px;
  background: url('/src/assets/images/sub-page-hero.jpg') no-repeat center center;
  background-size: cover;
}

.login-container {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.cards-bg {
  background: rgb(252,252,252);
  background: linear-gradient(125deg, #fdfdfd 0%, #f8f8f8 60%, #f2f2f2 100%);
}

/* Flip Card Styles */
.flip-card {
  perspective: 1000px; /* Enables 3D perspective */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; /* Ensures both sides are rendered in 3D */
  transition: transform 0.6s; /* Smooth transition for the flip */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); /* Flips the card on hover */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hides the back side when the front is visible */
  border-radius: 0.5rem; /* Matches Tailwind's rounded-lg */
}

.flip-card-back {
  transform: rotateY(180deg); /* Positions the back side for the flip */
}

h2, h3, h4 {
  font-weight: 600;
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  color: #954100;
}

.footer {
  background-color: #130700;
  background-image: linear-gradient(0deg, #130700 0%, #381f00 100%);
  color: #ccc 

}
.footer h3 {
  font-weight: 400;
  color: #ffc166;
}

.footer a:hover {
  color: #fff;
}